h2{
    background-color: #7faeb7;
    padding: 5px;
}
a:link{
    text-decoration: none;
    font-weight: bold;
    color: #004552
}
a:visited{
    color: #c9e0e5;
}
a:hover{
    color:  #ffa700;
}
hr{
    color: solid #7faeb7;
}
a img:hover{
    border: solid #ffa700 thick;
}
a:first-of-type img:hover{
    border-radius: 25px 0 0 25px;
    border: solid #ffa700 thick;
}
a:last-of-type img:hover{
    border-radius: 0 25px 25px 0;
    border: solid #ffa700 thick;
}